<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQs</title>
    {%load static%}
    <link rel="stylesheet" href="{%static 'css/faq/styles.css'%}">
    <link rel="stylesheet" href="{%static 'css/universal_styles.css'%}">
    <script src="https://kit.fontawesome.com/e86e32551b.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="header">
        <img class="header_logo" src="https://ayush.gov.in/images/logo/1.jpg">
        <h1 class="header_title">Ministry of AYUSH</h1>
    </div>
    <h1 class="title">Frequently Asked Questions</h1>
</body>
</html>