<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%load static%}
    <link rel="stylesheet" type="text/css" href="{%static 'css/announcements/styles.css'%}">
    <title>Announcements</title>
</head>
<body>
    <div class="header">
        <img class="header_logo" src="https://ayush.gov.in/images/logo/1.jpg">
        <h1 class="header_title">Ministry of AYUSH</h1>
    </div>
    <div class="card">
        <h3 class="card_date">29-04-07</h3>
        <h2 class="card_title">Comprehensive Revised Guidelines for Central Government Nomination (CGN) to MD (AyurvedalUnani/Siddha and Homoeopathy) Courses for the session 2024-25 (English version and Hindi version)-reg.</h2>
        <span>Download:<a href="#">English</a>|<a href="#">Hindi</a></span>
    </div>
    <div class="card">
        <h3 class="card_date">29-04-07</h3>
        <h2 class="card_title">
            Additional Charge of the post of Director, NEIAH assigned to Dr. Manoj Nesari, Advisor(Ayurveda), Ministry of Ayush.
        </h2>
        <span>Download:<a href="#">English</a>|<a href="#">Hindi</a></span>
    </div>
</body>
</html>