<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/admin_login/styles.css' %}">
    <script src="{% static 'js/login/scripts.js'%}"></script>
    <title>Administrator Login</title>
</head>
<body>
    <div class="header">
        <h1 class="title">Ministry of AYUSH</h1>
        <img class="logo" src="https://auth.mygov.in/sites/all/themes/mygovauth/logo.png">
    </div>
    <h1>Login portal for Administrator</h1>
    <div class="login-form">
        <form action="login" method="get">
            <label for="email">
                Email:
                <input type="email" id="email" placeholder="Enter your Email" name="email" required>
            </label>
            <label for="password">
                Password:
                <input type="password" id="password" placeholder="Enter your Password" name="password" required>
            </label>
            <input type="submit" value="Login">
        </form>
    </div>
    <div class="footer">
        <p>© Ministry of AYUSH, Government of India</p>
    </div>
</body>
</html>